


/*.....section introduction.....*/
section#intoduction{
    background-image: url(./../img/backgroundSec1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    box-shadow : 0px 0px 30px rgba(0,0,0,0.8) ;
}

section#intoduction p {
    line-height: 1.6rem;
    background-color: rgba(0, 0, 0, 0.91);
    color: #ddd;
    margin: 30px;
    padding: 38px;
    font-size: 1.08rem;
    text-align: left;
}

section#intoduction p span {
    color: aqua;
}


@media all and (max-width : 600px) {
    section#intoduction p  {
        margin: 20px;
        padding: 10px;
        font-size: 1rem;
    }
    
}


