.title-IEEE754 {
    text-align: center;
    padding: 50px 0px;
    font-size: 2rem;
    letter-spacing: 5px;
    color: cornflowerblue;
    /* background-color: whitesmoke; */
}

.Simple-precision {
    display: flex;
    flex-flow: column nowrap;
    /*justidy-content : */
    align-items: center;
    padding: 40px 0px 20px 0px;
}

.Simple-precision .simple-precision1 {
    /* background-color: salmon; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,77,1) 100%, rgba(0,212,255,1) 100%);
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 15px 15px 35px 15px;
    color: #ddd;
    margin: 0px 0px 50px 0px;
}

.option {
    height: 50px;
    padding: 0px 10%;
}

.operation-title {
    height: 2.8rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #0f0;
    padding-left: 1.5%;
}


.operation {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.inputting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

.inputting > span {
    justify-self: self-start;
    flex: 1 1;
}


.inputtings{
    padding: 5px;
}


.convert {
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    color: aqua;
    background-color: #0a0a0a;
}


.entrage {
    justify-self: center;
    flex: 1;
}


.notting {
    height: 1rem;
    color: red;
}



.inputtings12{
    width: 252px;
}



.binaire {
    height: 2.1rem;
    display: flex;
    flex-flow: row wrap;
}


@media all and (max-width : 500px) {
    .Simple-precision .simple-precision1 {
        width: 98%;
        padding: 15px 15px 100px 15px;
        
    }
    .operation-title {
        height: 8rem;
    }
    .option {
        height: 80px;
        padding: 0px 1%;
    }
    .simple-precision2 {
        padding: 0;
    }
}




/*
.sec1 {
}

.sec2 {
}*/