.circuit {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px 0px 30px 0px;
}

.circuit > p {
    padding: 50px 0px 20px 0px;
}

.hold {
    position: relative;
    padding: 0px 0px 30px 0px;

}

.proto{
    width: 350px;
    height: 350px;
}

.check-light {
    position: absolute;
}

input[type="checkbox"] {
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    /*transition: .5s;*/
}
input:checked[type="checkbox"]
{
    background: #fffc57;
}
input[type="checkbox"]:before 
{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
}
input:checked[type="checkbox"]:before {
    left: 30px;
}


.lite {
    width: 50px;
    height: 50px;
    position: absolute;
}

#or-a {
    top: 135px;
    left: 27px;
}

#or-b {
    top: 187px;
    left: 27px;
}

#lite-or {
    top: 135px;
    left: 283px;
}

.result{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}
.result div{
    flex: 1 1 ;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid #222;
}

.hiden {
    display: none;
}


/*and*/
#and-a {
    top: 135px;
    left: 27px;
}

#and-b {
    top: 187px;
    left: 27px;
}

#lite-and {
    top: 135px;
    left: 283px;
}

/*non*/
#non-a {
    top: 144px;
    left: 22px;
}

#non-b {
    top: 187px;
    left: 27px;
}

#lite-non {
    top: 119px;
    left: 280px;
}

/*xor*/
#xor-a {
    top: 106px;
    left: 15px;
}

#xor-b {
    top: 161px;
    left: 16px;
}

#lite-xor {
    top: 109px;
    left: 281px;
}


/*nor*/
#nor-a {
    top: 126px;
    left: 31px;
}

#nor-b {
    top: 179px;
    left: 31px;
}

#lite-nor {
    top: 127px;
    left: 278px;
}


/*nand*/
#nand-a {
    top: 131px;
    left: 14px;
}

#nand-b {
    top: 181px;
    left: 14px;
}

#lite-nand {
    top: 129px;
    left: 282px;
}

/*xnor*/
#xnor-a {
    top: 120px;
    left: 13px;
}

#xnor-b {
    top: 174px;
    left: 13px;
}

#lite-xnor {
    top: 121px;
    left: 287px;
}


@media all and (max-width : 518px) {
    .result {
        width: 100%;
    }
    .result div {
        height: 45px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}